@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(40deg, #B4FEE7, #A16AE8 90%);
}

.auth-form-container, .login-form, .register-form, .forgotpass-form {
  
  display: flex;
  flex-direction: column;
  
}

.aa-form-container, .addaccount-form {
  display: flex;
  flex-direction: column;
}

.view-accounts-container {
  display: flex;
  flex-direction: row;
}

.authdetails {
  right: auto;
  justify-content: space-between;
  text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #b4fee7;
    transition: 0.3s ease-in-out;
    margin-left: 50rem;
}
.big-logo {
  display: flex;
  width: 200px;
  height: 200px;
  margin-right: 10rem;
  
}

.dashboard-button{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.card {
  padding: 5rem;
  border: 1px solid #B4FEE7;
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 3px 5px 5px grey;
  
}
label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: #7439db;
}

.va-button{
  display: flex;
  align-items: center;
  justify-content: center;

}

.va-button li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  
}

.va-button li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #a16ae8;
  transition: 0.3s ease-in-out;

}
.va-button li a:hover, #navbar li a.active{
  color: #fd49a0
}
.va-button li a:hover::after, #navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #fd49a0;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.link-btn {
  background: none;
  color: white;
}

@media screen and (min-width: 600px){
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #B4FEE7;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
